# System
.DS_Store
.AppleDouble
.LSOverride
._*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# MapProxy
mapproxy/cache/

# MapServer Generated Content & Downloads
# Ignore the downloaded chart directories
mapserv/charts/sec/
mapserv/charts/tac/
mapserv/charts/hel/
mapserv/charts/enrl/
mapserv/charts/enrh/
mapserv/charts/enra/
mapserv/charts/misc/

# Ignore working and index directories created by makemap3.pl
mapserv/charts/work/
mapserv/charts/index/
# Ignore zip downloads and extracted TIFs anywhere they might appear
*.zip
*.tif
*.tfw
*.htm
*.html

# Keep explicitly:
!mapserv/charts/bref/
!mapserv/charts/*.sh
